.card1{
  font-size: 25px  ;
  width: 250px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 40px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  font-weight: bold;
  background-color:rgb(207, 24, 0);
  color: rgb(255, 255, 255);
}

.card2{
  font-size: 25px  ;
  width: 250px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 40px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  font-weight: bold;
  background-color:rgb(61, 61, 61);
  color: rgb(255, 255, 255);
}

.card3{
  font-size: 25px ;
  width: 250px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 40px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  font-weight: bold;
  background-color:rgb(5, 165, 0);
  color: rgb(255, 255, 255);
}
.container{
display: flex;
align-items: left;
justify-content: left;
}

table tbody{
  overflow-y: auto;
  width: 100%;
}
table thead,
table tbody,
table tr,
table td,
table th {
    display: block;
    /* background-color: red; */
}
table tbody td,
table tbody th,
table thead>tr>th {
  float: left;
  position: relative;
}
tr:hover{
  background-color: red;
}
table>thead>tr>th ::after {
  content: '';
  clear: both;
  display: block;
}