/* .property-card1
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #d61204, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
} */



.card {
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 18px;
  background: white;
  text-align: center;
  height: 80pxpx;
  width: 10px;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
} */

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered{
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths{
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}